<!--
  templateType: page
  isAvailableForNewContent: true
  label: Home page
-->

{% require_css %}
<style>
  .main-case-study-section {
    background-image: url('{{ get_asset_url("../images/main-case-study-background.png") }}') ;
    background-size: cover;
    background-position: center;
  }

  .call-to-action-section {
    background-image: url('{{ get_asset_url("../images/call-to-action-background.png") }}') ;
    background-size: cover;
    background-position: right center;
  }

  .solutions-section {
    background-image: url('{{ get_asset_url("../images/solutions-background.png") }}') ;
    background-size: cover;
    background-position: right top;
  }

  .home-hero-section{
    background-image: url('{{ get_asset_url("../images/home-hero-background.png") }}') ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right bottom;
    padding-bottom: 160px !important;
  }
</style>
{% end_require_css %}






{% extends "./layouts/base.html" %}
{% set template_css = "../../css/templates/home.css" %}
{% block body %}
{% dnd_area "dnd_area"
  label="Main section",
  class="body-container body-container--web-site"
%}

  {# team card #}
  {% include_dnd_partial path="../sections/home-hero.html" %}
  {% include_dnd_partial path="../sections/solutions.html" %}
  {% include_dnd_partial path="../sections/agency-introduction.html" %}
  {% include_dnd_partial path="../sections/main-case-study.html" %}
  {% include_dnd_partial path="../sections/client-review.html" %}
  {% include_dnd_partial path="../sections/call-to-action.html" %}  
  {% include_dnd_partial path="../sections/article.html" %}
  

{% end_dnd_area %}
{% endblock body %}
