<!--
  templateType: global_partial
  label: Footer
-->
<footer class="footer">
  {% dnd_area "footer"
    label="Footer",
    class="footer__container content-wrapper"
  %}

    {% dnd_section class="footer-section"%}
      {% dnd_column %}
        {% dnd_row %}
          {% dnd_module path="../../modules/footer",
            left_column={
              "description": "Agence de génération de croissance pour les cabinets d’expertise comptable. ",
              "bold_informations": "Suivez-nous ! "
            },
            center_column={
              "sections": [
                {
                  "section_title": "Vos enjeux",
                  "links": [
                    { "link_url": "#", "link_text": "Génération de leads" },
                    { "link_url": "#", "link_text": "Augmentation de la visibilité" },
                    { "link_url": "#", "link_text": "Marque employeur " },
                    { "link_url": "#", "link_text": "Développement d’une stratégie de fidélisation " },
                    { "link_url": "#", "link_text": "Business process management " },
                    { "link_url": "#", "link_text": "Transformation digitale" }
                  ]
                },
                {
                  "section_title": "Liens utiles",
                  "links": [
                    { "link_url": "#", "link_text": "Recrutement" },
                    { "link_url": "#", "link_text": "Partenaires / écosystème" },
                    { "link_url": "#", "link_text": "Agence" }
                  ]
                },
                {
                  "section_title": "Ressources utiles",
                  "links": [
                    { "link_url": "#", "link_text": "Parcours – Mettre en place une stratégie digitale" },
                    { "link_url": "#", "link_text": "Parcours — Mettre en place un CRM en cabinet " }
                  ]
                }
              ]
            },
            right_column={
              "title": "Notre agence",
              "address": "18 cours Franklin Roosevelt 69006 Lyon",
              "phone_number": "04 28 29 92 05",
              "cta": [
                { "cta_link": "#", "cta_text": "NOUS CONTACTER" },
                { "cta_link": "#", "cta_text": "PRENDRE RDV" }
              ]
            }
          %}
          {% end_dnd_module %}
        {% end_dnd_row %}
        {% dnd_row %}
          {% dnd_module path="../../modules/footer-logos",
            logos=[
              { "image": { "src": get_asset_url('../../images/hexagone-logo.png'), "alt": "Logo 1" } },
              { "image": { "src": get_asset_url('../../images/hexagone-logo.png'), "alt": "Logo 2" } },
              { "image": { "src": get_asset_url('../../images/hexagone-logo.png'), "alt": "Logo 3" } },
              { "image": { "src": get_asset_url('../../images/hexagone-logo.png'), "alt": "Logo 4" } },
              { "image": { "src": get_asset_url('../../images/hexagone-logo.png'), "alt": "Logo 5" } }
            ]
          %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
    {% end_dnd_section %}

  {% end_dnd_area %}
</footer>
